<section id="skills" class="py-20 px-6">
  <div class="max-w-6xl mx-auto">
    <h2 class="text-3xl sm:text-4xl font-bold text-primary mb-12 text-center">
      {{ 'skills.title' | translate }}
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
      @for (category of skills; track category.category) {
        <div class="dark:bg-[#191919] bg-[#e3e3e3] rounded-lg p-6 shadow hover:shadow-xl transition">
          <h3 class="text-xl text-primary font-semibold mb-4">{{ category.category }}</h3>
          <div class="flex flex-wrap gap-3">
            @for (skill of category.skills; track skill.name) {
              <span class="flex items-center gap-2 dark:bg-[#323232] bg-[#e3e3e3] border border-primary text-primary p-3 text-sm rounded-full">
                @if (skill.image) {
                  <img [src]="skill.image" [alt]="skill.name" class="w-8 h-8" />
                }
                {{ skill.name }}
              </span>
            }
          </div>
        </div>
      }
    </div>
  </div>
</section>
