<!-- navbar.component.html -->
<nav
[ngClass]="{
    'fixed top-4 left-1/2 transform -translate-x-1/2 z-50 dark:bg-[#191919]/90 bg-[#c3c3c3]/90 rounded-full shadow-lg':
      isFloating,
    'w-full': !isFloating
  }"
class="flex justify-center  transition-all duration-300 ease-in-out"

>
  <div class="flex justify-between items-center px-6 py-4 max-w-7xl mx-auto">
    <img  src="assets/img/Logo.png" [ngClass]="{
    'w-0':isFloating,
    'w-20':!isFloating
    }">
    <ul class="flex gap-6 font-medium">
      <li><a href="#hero" class="hover:text-primary transition">{{ 'navbar.home'|translate }}</a></li>
      <li><a href="#projects" class="hover:text-primary transition">{{ 'navbar.projects'|translate }}</a></li>
      <li><a href="#skills" class="hover:text-primary transition">{{ 'navbar.skills'|translate }}</a></li>
      <li><a href="#about" class="hover:text-primary transition">{{ 'navbar.about'|translate }}</a></li>
      <li><a href="#contact" class="hover:text-primary transition">{{ 'navbar.contact'|translate }}</a></li>
    </ul>
  </div>
</nav>
